.container {
  margin-top: 30px;
}

label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group {
  margin-top: 15px;
}

.my-btn {
  margin-top: 20px !important;
  width: 150px;
}

.autocomplete .MuiInputBase-input {
  height: 10px !important;
  width: 100% !important;
}
